@{ ViewData["Title"] = "Update My Password"; }

<h1>Please enter a new Password</h1>
<h3>You will loggedout and redirect to home page if your password is successfully updated</h3>
<form asp-action="UpdatePassword">
    <label for="Password" class="control-label">New Password: </label>
    <input id="Password" name="Password" type="password" class="form-control"
           data-val="true" data-val-required="The Password field is required." />

    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login" asp-action="UpdatePassword">Confirm</button>
</form>


