@model AdminLogin
@{
    ViewData["Title"] = "Admin";
    Layout = "_HomeLayout";
}

<div class="text-center">
    <form asp-action="Login">

        <h1 class="h3 mb-3 fw-normal">MCBA Admin Portal</h1>

        <div class="form-group">

            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            <input id="Password" name="Password" type="password" class="form-control"
                   data-val="true" data-val-required="The Password field is required." />
        </div>


        @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Log in</button>

    </form>
</div>

