@model BillPayViewModel
@{
    ViewData["Title"] = "Create New BillPay";
}

<h4>Create New BillPay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedAccount" class="control-label">Account</label>
                @Html.DropDownList("AccountList")
            </div>
            <div class="form-group">
                <label asp-for="SelectedPayee" class="control-label">Payee</label>
                @Html.DropDownList("PayeeList")
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
