@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="text-center">
    <h1>MCBA Banking</h1>
    <p class="lead">Welcome to MCBA Internet Banking. Please Login to your account.</p>
    <p class="lead">
    <a asp-controller="Login" asp-action="Login"
       class="btn btn-lg btn-secondary fw-bold border-white bg-primary text-white">Login</a></p>
   
    
</div>

